@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#footer{
    -fx-background-color: #000000;
    -fx-width: 100%;
}


#song_title{
    -fx-width: 250px;
    -fx-height: 34px;
    -fx-font-family: 'Roboto Mono', monospace;;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-line-height: 34px;
}

#song_artist{
    -fx-width: 250px;
    -fx-height: 34px;
    -fx-font-family: 'Roboto Mono', monospace;;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-line-height: 34px;
}

#play_button{
    -fx-color: #F6CB27;
    -fx-border: none;
}